<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location at all times</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location for location updates</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show accurate data</string>
</dict>
</plist>
